@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}
#nav-ribbon {
  /* FIXME: Remove BG */
  /* background-color: azure; */
  background-color: transparent;

  /* FIXME: Z-index */
  z-index: 11;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  /* Flex  */
  display: flex;
  justify-content: space-between;
  font-family: 'GT Pressura Mono';
  font-weight: 600;
  letter-spacing: 0.1rem;
}
#nav-ribbon-left,
#nav-ribbon-right {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top-section {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* FIXME: Remove After  */
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Apply transitions */
}

#animated-character-box {
  width: 40%;
  height: auto;
  padding: 10px;
  /* FIXME: Remove After  */

  background-color: green;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150px;
  font-weight: 900;
  line-height: 120px;
  text-align: center;
}

#animated-cursor-box {
  /* FIXME: Z-index */
  z-index: 12;
  width: 250px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px 10px;
  /* Position based on the cursor */
  position: absolute;
  transition: all linear 0.2s;

  /* TODO: only for debug */
  /* top: 10px;
  left: 10px; */
  opacity: 0;
}
#animated-cursor-box video {
  width: 110%;
}
